<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Create Province</title>
</head>
<body>
<h1>Create province</h1>
<p>
    <a href="/provinces">Province list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"/>
</th:block>
<form th:action="@{/create-province}" th:object="${province}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><label>
                <input type="text" th:field="*{name}">
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create province"></td>
        </tr>
    </table>
</form>
</body>
</html>